{% extends "base.html" %}

{% load static %} 

{% block title %}Menu{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}"/>
{% endblock styles %} 

{% block content %}
<!-- MENU SECTION -->
<div class="section">
	<div class="container">
		<div class="section__header">
			Menu
		</div>
		<div class="section__content">
			<div class="product-grid">
				<!-- single product -->
				{% for cake in cakes %}
					<div class="product-card">
						<div class="product-card__img">
							<a href="{% url 'cake_detail' cake.id %}">
								<img src="{{ cake.picture.url }}" alt="{{ cake.name }}">
							</a>
							<div class="btn-wraper">
								<button class="btn btn-small" data-cake-id="{{ cake.id }}" data-url="{% url 'add_to_cart' %}">Add to bag</button>							</div>
						</div>
						<div class="product-card__price">${{ cake.price }}</div>
						<div class="product-card__name">{{ cake.name }}</div>
					</div>
				{% endfor %}
				<!-- end single product -->
			</div>
		</div>
	</div>
</div>
<!-- END MENU SECTION -->
<!-- DOWNLOAD COPIES OF THE PRODUCTS-->
<div class="download-section">
	<h3 class="download-title">Descargar Reportes</h3>
	<div class="download-buttons">
		<a href="{% url 'generate_report' 'excel' %}" class="btn btn-download btn-excel">
		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
			<polyline points="14 2 14 8 20 8"></polyline>
			<line x1="16" y1="13" x2="8" y2="13"></line>
			<line x1="16" y1="17" x2="8" y2="17"></line>
			<polyline points="10 9 9 9 8 9"></polyline>
		</svg>
		Descargar en Excel
		</a>
		<a href="{% url 'generate_report' 'pdf' %}" class="btn btn-download btn-pdf">
		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
			<polyline points="14 2 14 8 20 8"></polyline>
			<line x1="16" y1="13" x2="8" y2="13"></line>
			<line x1="16" y1="17" x2="8" y2="17"></line>
			<polyline points="10 9 9 9 8 9"></polyline>
		</svg>
		Descargar en PDF
		</a>
	</div>
</div>
<!-- END DOWNLOAD SECTION -->
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/home/menu.js' %}"></script>
{% endblock scripts %}
