{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/account/login.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/home/home.css' %}"/>
{% endblock styles %}

{% block content %}
<div class="hero-section">
		<div class="left-image">
			<img src="{% static 'images/account/MainRegisterImg.png' %}" alt="Background Bear Image">
		</div>

	<div class="form">
		<h6>
			<a href="{% url 'login' %}">
				<img src="{% static 'images/CYCLogo.png' %}" alt="Logo" class="logo">
			</a>
		</h6>
		<h2>Login</h2>

		<form method="POST">
			{% csrf_token %}

			{{ form.as_p }}
	
			<p><a href="#">Forgot password?</a></p>
	
			<input type="submit" value="Login" class="submit">
		</form>

		<h5>or continue with</h5>

		<div class="icon-container">
			<div class="icon">
				<img src="{% static 'images/account/google.png' %}" alt=""/>
			</div>
			<div class="icon">
				<img src="{% static 'images/account/github.png' %}" alt=""/>
			</div>
			<div class="icon">
				<img src="{% static 'images/account/fb.png' %}" alt=""/>
			</div>
		</div>

		<h3>Don't have an account yet? 
			<span>
					<a href="{% url 'register' %}" class="register-link">Register for free!</a>
			</span>
		</h3>
	</div>

	<div class="main-img">
		<img src="{% static 'images/account/MainLoginImg.png' %}" alt=""/>
	</div>
</div>
{% endblock content %}
